# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

###### Objectives
* List popular languages for Data Science
* List popular tools for Data Science
* List popular libraries for Data Science

Here is a list of Data Science languages
1. Ruby
2. Java
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-Learn
3. PyTorch
4. Tensorflow

| Data Science Tools |
| ------------- |
| SAS |
| Apache Spark |
| D3 |
| MATLAB |

Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [14]:
(3*4)+5

*This will convert 200 minutes to hours by diving by 60*

In [15]:
200/60

## Author
Menelik Solomon Zewdie